<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>hCare</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle Id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.indiahealthlink.ihlhealth</string>
				<string>com.googleusercontent.apps.1068591848947-dt9obhjlpto5sgm509jn0sc6k9v55sjq</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FDAllFilesDownloadedMessage</key>
	<string>Downloaded successful</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>smitfit</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>IHL Health needs access to your Music for custom notification sounds.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>IHL Health needs access to your calendar for reminder services.</string>
	<key>NSCameraUsageDescription</key>
	<string>IHL Health needs access to your camera for Profile Picture and Tele-Consultation services.</string>
	<key>NSContactsUsageDescription</key>
	<string>IHL Health needs access to your contacts for Tele-Consultation services.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>IHL Health needs access some of your health data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>IHL Health needs access to location when in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>IHL Health needs access to update some of your health data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>IHL Health needs access to track your Steps count and Fitness activity.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location Always?</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>IHL Health needs access to your microphone for Tele-Consultation services.</string>
	<key>NSMotionUsageDescription</key>
	<string>This application tracks your steps</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>IHL Health requires to get and save your Profile picture and other Health documents.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>IHL Health needs access to this for accessibility promptings.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIDocumentBrowserViewController</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
